<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta 
      name="description" 
      content="HungerApps  adalah sebuah platform website yang menyediakan informasi tentang restoran terbaik di indonesia">
    <title>Restaurant Apps Starter Project</title>
    <link rel="manifest" href="manifest.json">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"/>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" href="favicon.png">
    <!-- iPhone X (1125px x 2436px) -->
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="icons/icon-512x512.png">
<!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="icons/icon-512x512.png">
<!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="icons/icon-512x512.png">
<!-- iPhone 5 (640px x 1136px) -->
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="icons/icon-512x512.png">
<!-- iPad Mini, Air (1536px x 2048px) -->
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" href="icons/icon-512x512.png">
<!-- iPad Pro 10.5" (1668px x 2224px) -->
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" href="icons/icon-512x512.png">
<!-- iPad Pro 12.9" (2048px x 2732px) -->
<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" href="icons/icon-512x512.png">
    <meta name="theme-color" content="#000"/>
</head>
<body>
    <header class="app-bar">
      <div id="skip" class="hidden">
        <a href="#content">Skip To Content</a>
      </div>
      <div class="bars">
        <button id="bars" aria-label="toggle sidebar"><i class="fa fa-bars"></i></button>
      </div>
      <div class="app-brand">
        <h2>HungerApps</h2>
      </div>
      <nav class="app-navbar" id="drawer">
        <ul class="navbar">
          <li class="item"><a href="" class="active">Home</a></li>
          <li class="item"><a href="#/favorite">Favorite</a></li>
          <li class="item"><a href="https://instagram.com/aditpastrana" target="_blank"  rel="noreferrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="content">

      <!-- <section id="content">
         
      </section> -->
      </main>
    
    <footer class="footer">
          <center>
            <div style="padding-top: 30px;">
                <h1>Copyright © 2021 - Hunger Apps</h1>
            </div>
          </center>
    </footer>
  </body>
